*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #EEEEEE;
}
main{ 
	font-family: 'Josefin Sans', sans-serif; 
	font-size: 1.2rem;
	width: 55rem;
	margin: auto;
	text-align: center;
	padding: 0;
}

/*header */ 
#title h1, #title h2{
	background-color: #343a40;
	color: #ffc107; 
	margin: auto; 
	margin-top: 2rem;
	margin-bottom: 2rem;
}
#title h1{
	width: 27rem; 
	height: 5.5rem;
	line-height: 6rem;
	font-size: 4.5rem;
}
#title h2{
	width: 40rem;
	height: 3rem;
	line-height: 3.5rem;
	font-size: 2.5rem;
}
/*figure*/
#img-div{ 
	margin: 0;
}
#img-div img{
	max-width: 100%;
}
#img-div figcaption{
	font-size: 1.3rem;
	text-decoration: underline;
}

/*tribut-info*/
#tribute-info{
}
#brief{
	background-color: #ffc107; 
}
#brief img{
	width: 10rem;
	height: 10rem;
	float: left; 
	border-radius: 50%;
	padding: 1.3rem;
}
#brief-text {
	 line-height: 2rem;
	text-align: left;
	padding: 1.2rem;
}
#time-line{
	background-color: #d6d1d1; 
}
#time-line p{
	font-size: 2rem;
	padding: 1rem;
}
#time-line ul{ 
	text-align: left;
	font-size: 1.2rem;
	padding-left: 2rem;
	line-height: 130%;
}
#links{
	background-color: #ffc107;
	height: 4rem; 
	line-height: 2rem;
}
#links a{
	color: #343a40;
	font-size: 1.3rem;
}
#links a:hover{
	color: #dc3545;
}

