body{
	background-color: #EEEEEE;
}
main{
	width: 30cm; /* responsive  */
	margin: auto;
	max-width: 100%;  /* responsive */
	text-align: center;
	font-family: 'Josefin Sans', sans-serif; 
	color: #343a40;
}
#title h1, #title p{
	color: #ffc107;
	background-color: #343a40;
	margin: auto;
	padding: 5pt 0 5pt 0;
	width: 10cm;

}
#title h1{
	font-size: 4em;
	margin-bottom: 5pt;
	height: 1.5em; 
	line-height: 2em;
}
#title p{
	font-size: 3em; 
	width: 15em;
	margin-bottom: 5pt;
}
#img-div{ 
	margin: auto;
	margin-top: 20pt; 
	margin-bottom: 20pt;
}
#img-div img{

	width: 80%; /* responsive */ 
  	display: block;
  	height: auto;
  	margin: auto;
}
#img-div figcaption{
	width: 80%;
	margin: auto;
	padding-top: 5pt;
	text-decoration: underline;
}
#tribute-info{
	width: 80%;   /* responsive */
	margin: auto;
	background-color: #d6d1d1;
	font-size: 15pt;

}
#summary, footer{
	background-color: #ffdf7f; 
	padding: 10pt;
	text-align: left; 
	margin: 0;
	line-height: 20pt;
}
#summary{  
}
#tribute-info img{
	width: 10em;
	height: 10em;
	float: left; 
	border-radius: 50%;
}
#tribute-info h3{
	padding: 5pt;
}
#tribute-info ul{
	text-align: left;
}
#tribute-info a{
	color: #343a40;
	font-weight: bold; 
}
#tribute-info a:hover{
	color: #dc3545;
}
